.glyph-icon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0, 2), 4, 0, 0, 0);
}

.hide-button-icon {
    -glyph-name: "ARROWS_H";
    -glyph-size: 15px;
    -icons-color: white;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%, derive(red, 30%) 85%);
}

.advanced-search-button-icon {
    -glyph-name: "SEARCH_PLUS";
    -glyph-size: 15px;
    -icons-color: white;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%, derive(orange, 30%) 85%);
}

.console-button-icon {
    -glyph-name: "TERMINAL";
    -glyph-size: 15px;
    -icons-color: white;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%, derive(blueviolet, 30%) 85%);
}


.up-button-icon {
    -glyph-name: "ANGLE_UP";
}

.down-button-icon {
    -glyph-name: "ANGLE_DOWN";
}

.exit-button-icon {
    -glyph-name: "TIMES";
}

.root-icon {
    -glyph-name: "FOLDER_OPEN_ALT";
    -icons-color: orange;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%,
                      derive(-icons-color, 100%) 30%, derive(orange, 30%) 85%);
}

.branch-icon {
    -glyph-name: "FOLDER_ALT";
    -icons-color: skyblue;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%,
            derive(-icons-color, 100%) 30%, derive(blueviolet, 30%) 85%);
}

.leaf-icon {
    -glyph-name: "FILE_ALT";
    -icons-color: yellowgreen;
    -fx-text-fill: -icons-color;
    -fx-fill: linear-gradient(-icons-color 0%,
            derive(-icons-color, 100%) 30%, derive(yellowgreen, 30%) 85%);
}